<body class="listing_show">
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
        <%= image_tag @listing.image.url %>

    </div>
    <script type="text/javascript" src="//www.auctionnudge.com/item_build/js/SellerID/ htgsupply/siteid/0/theme/responsive/MaxEntries/6/page/init/show_logo/1/img_size/80"></script><div id="auction-nudge-items" class="auction-nudge"><a href="https://www.auctionnudge.com/your-ebay-items">Embedded eBay Listings By Auction Nudge</a></div>
    
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.description %></p>
    <br>
    
      <%= link_to t("listing.buy_it_now"), new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
      <% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary" %> 
<% end %>
<%= link_to t('listing.back'), root_path, class: "btn btn-primary" %>
</div>
</div>


  
  <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if customer_signed_in? %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_customer.name %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><%= link_to t("navbar.purchase_history"), purchases_path %></li>
                    <li><%= link_to t("navbar.edit_profile"), edit_customer_registration_path %></li>
                    <li><%= link_to t("navbar.sign_out"), destroy_customer_session_path, method: :delete %></li>
                    </ul>
                    </li>
                    <% else %>
                    <li><%= link_to t("navbar_customer.sign_up"), new_customer_registration_path %></li>
                    <li><%= link_to t("navbar_customer.sign_in"), new_customer_session_path %></li>
                    <% end %>

                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("navbar.categories") %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <% Category.all.each do |category| %>
                    <li><%= link_to category.name, listings_path(category: category.name), {:action => "index", :controller => "listing", :anchor => "portfolio" }%></li>
                    <% end %>
                    </ul>
                    </li>
                    <li>
                        <%= link_to t("navbar.contact"), new_contact_path %>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">שרותים</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">מוצרים</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><%= t("navbar.about") %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team"></a>
                    </li>
                    

                    <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
                </ul>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>
   
  </body>


